<section class="register-container">
  <h1 class="register-title">
    Register Form
  </h1>
  <form [formGroup]="form" class="register-form"
        (ngSubmit)="submit(form.value)">
    <mat-form-field class="input-container">
      <mat-label>First name</mat-label>
      <input matInput [ngClass]="displayFieldCss('firstName')"
             formControlName="firstName">
      <ng-container *ngIf="isFieldValid('firstName')">
        <div *ngIf="getFormControl('firstName').errors.required"
             class="error-message">
          First Name is required.
        </div>
        <div *ngIf="getFormControl('firstName').errors.minlength"
             class="error-message">
          First Name must be at least 4 characters long.
        </div>
      </ng-container>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput [ngClass]="displayFieldCss('lastName')"
             formControlName="lastName">
      <ng-container *ngIf="isFieldValid('lastName')">

        <div *ngIf="getFormControl('lastName').errors.required"
             class="error-message">
          Last Name is required.
        </div>
        <div *ngIf="getFormControl('lastName').errors.minlength"
             class="error-message">
          Last Name must be at least 4 characters long.
        </div>
      </ng-container>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [ngClass]="displayFieldCss('email')"
             formControlName="email">
      <ng-container *ngIf="isFieldValid('email')">
        <div *ngIf="getFormControl('email').errors.required"
             class="error-message">
          Email is required.
        </div>
      </ng-container>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [ngClass]="displayFieldCss('password')"
             formControlName="password">
      <ng-container *ngIf="isFieldValid('password')">

        <div *ngIf="getFormControl('password').errors.required"
             class="error-message">
          Password is required.
        </div>
        <div *ngIf="getFormControl('password').errors.minlength"
             class="error-message">
          Password must be at least 6 characters long.
        </div>
      </ng-container>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat Password</mat-label>
      <input matInput type="password" [ngClass]="displayFieldCss('passwordConfirmation')"
             formControlName="passwordConfirmation">
      <ng-container *ngIf="isFieldValid('passwordConfirmation')">
        <div *ngIf="getFormControl('passwordConfirmation').errors.required"
             class="error-message">
          Repeat Password is required.
        </div>
        <div *ngIf="getFormControl('passwordConfirmation').errors.minlength"
             class="error-message">
          Repeat Password must be at least 6 characters long.
        </div>
      </ng-container>
    </mat-form-field>

    <div class="button-container">
      <button mat-button type="submit">Register</button>
      <button mat-button [routerLink]="['/login']">Login</button>
    </div>
  </form>
</section>
