<section class="login-container">
  <h1 class="login-title">
    Login Form
  </h1>
  <form [formGroup]="form" class="login-form"
        (ngSubmit)="submit(form.value)">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [ngClass]="displayFieldCss('email')"
             formControlName="email">
      <ng-container *ngIf="isFieldValid('email')">
        <div *ngIf="getFormControl('email').errors.required"
             class="error-message" i18n="@@emailErrorRequired">
          Email is required.
        </div>
      </ng-container>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [ngClass]="displayFieldCss('password')"
             formControlName="password">
      <ng-container *ngIf="isFieldValid('password')">

        <div *ngIf="getFormControl('password').errors.required"
             class="error-message">
          Password is required.
        </div>
        <div *ngIf="getFormControl('password').errors.minlength"
             class="error-message">
          Password must be at least 6 characters long.
        </div>
      </ng-container>
    </mat-form-field>
    <div class="button-container">
      <button mat-button type="submit">Login</button>
      <button mat-button [routerLink]="['/register']">Register</button>
    </div>
  </form>
</section>
