.login-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 10px;

  .login-title {
    text-align: center;
    margin: 10px 0;
  }

  .login-form {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .button-container {
    text-align: center;
  }
}
