.question-container {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 1px 1px #d6d6d6;

  .question-title {
    justify-self: center;
    align-self: center;
    font-size: 18px;
  }

  .create-btn {
    color: #2199e8;
  }

  .delete-btn {
    color: #C62828;
  }
}
