<div class="question-container">
  <div class="question-title">
    <h2>Question</h2>
    <div class="question title-container">
      <span>{{ question?.content}}</span>
    </div>
  </div>
  <h3>Answers</h3>
  <div class="answers-container">
    <div class="answer title-container" #options *ngFor="let option of question?.options" [id]="option._id">
      <div class="answer-content" (click)="chooseAnswer(option._id)">
        <span>{{option.content}}</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="notChosenAnswer|async">
    <div class="error-message">Please choose an answer.</div>
  </ng-container>
  <div class="btn-container">
    <button mat-button (click)="saveAnswer()">Next</button>
  </div>
</div>
